.register {
    min-height: 100dvh;
    background-color: #0b090a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .effect {
        max-height: 300px;
        max-width: 300px;
        border-radius: 50%;
        background: linear-gradient(#ff3d3d 50%, #9a8478 50%);
        animation: effect 1.5s infinite linear;
        position: absolute;
        top: 30%;
        left: 30%;
        filter: blur(80px);
        transform: translate(-50%, -50%);
        transition: .1s;

        @keyframes effect {
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }

    form {
        width: 350px;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1414149d;
        border-radius: 20px;
        padding: 20px;
        z-index: 1;

        button,
        input {
            outline: none;
            border: none;
            border-radius: 10px;
        }

        .submitBtn {
            margin-top: 25px;
            height: 45px;
            background-color: #000000;
        }

        h1 {
            font-size: 25px;
        }

        label {
            cursor: pointer;
            color: #b9b9b9;
            margin-left: 5px;
        }

        input {
            background-color: #4d4a52;
            padding-left: 10px;
            height: 40px;
        }

        kbd {
            margin-top: 10px;
            text-align: center;

            a {
                color: #3a7dd4;
            }
        }
    }
}

@media screen and (max-width :700px) {
    .register {
        align-items: end;

        form {
            min-width: 300px;
            // margin-bottom: 10px;
            // background-color: transparent;
        }
    }
}