.register {
    min-height: 100dvh;
    background-color: #0b090a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
        // width: 200px;
        display: none;
        position: absolute;
        top: 10%;
    }

    .effect {
        max-height: 300px;
        max-width: 300px;
        border-radius: 50%;
        background: linear-gradient(#ff3d3d 50%, #9a8478 50%);
        animation: effect 1.5s infinite linear;
        position: absolute;
        top: 30%;
        left: 30%;
        filter: blur(80px);
        transform: translate(-50%, -50%);
        transition: .1s;

        @keyframes effect {
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }

    form {
        width: 350px;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1414149d;
        border-radius: 20px;
        padding: 20px;

        button,
        input {
            outline: none;
            border: none;
            border-radius: 10px;
        }

        .submitBtn {
            margin-top: 25px;
            height: 45px;
            background-color: #000000;
            transition: .1s;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            &:active {
                background-color: #0c0c0c;
                transform: scale(0.95);
            }

            &:disabled {
                background-color: #0c0c0c;
                color: #b9b9b9;
            }
        }

        h1 {
            font-size: 25px;
        }

        label {
            cursor: pointer;
            color: #b9b9b9;
            margin-left: 5px;
        }

        input {
            background-color: #343236;
            padding-left: 10px;
            height: 40px;
            transition: .5s;

            &:focus {
                background-color: #4c4a50;
            }
        }

        kbd {
            margin-top: 10px;
            text-align: center;

            a {
                color: #3a7dd4;
            }
        }
    }
}

@media screen and (max-width :600px) {
    .register {
        justify-content: end;
        flex-direction: column;

        .logo {
            width: 200px;
            display: block;
        }

        .effect {
            display: none;
        }

        form {
            padding-bottom: 30px;
            width: 100%;
            border-radius: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                height: 60px;
                width: 60px;
                background-color: #1414149d;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                height: 60px;
                width: 60px;
                border-bottom-left-radius: 100%;
                background-color: #0b090a;
            }

            button,
            .submitBtn {
                background-color: #2727279d;
            }
        }
    }
}