.creator {
    background-color: #31363fbd;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    width: calc(100% - 300px);

    .user {
        span {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #13161b;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
    }
}